* {
    font-family: sans-serif;
  }
.header{
    background-image: url(../images/banner/banner2.png);
    height: 800px;
  
}
.btn-primary{
    background-color: rgb(95, 181, 10);
    color: black;
    width: 120px;
    height: 35px;
    border-radius: 6px;
}
.section-2{
    text-align: justify;
    margin-top: 100px;
    margin-left: 150px;
    display: flex;
}
.section-head{
    font-size: 30px;
}
.sub-section{
    margin-top: 300px;
   
}
.list{list-style:none;}
.list-item:before {
    content: '✓';
    color: green;
   
  }
.sub-section-pro{
    margin-left: 45px;
}
.header-2{
    text-align: center;
}
.icon-section{
    display:flex ;
    justify-content: center;
    text-align: center; 
}
.bg-image{
    background-image: url(../images/watch.png);
    width: 80%;
    height: 200px;
    background-size: cover;
    color: rgb(0, 0, 0);
    margin-left:150px;
    /* background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%); */


   

    background-image:
    linear-gradient(90deg,#F15B22 0%, rgba(241, 91, 34, 0) 100%),
    url('images/watch.png');
    border-radius: 8px;
    width: 1140px;
    height: 300px;
   
    
}

.watch{
    padding-top: 50px;
    padding-left: 60px;
}
.button-2{
    height: 40px;
    width: 120px;
    background-color: white;
    border-radius: 5px;
    border: solid black 1.6px;
    margin-bottom: 60px;
    margin-left: 60px;
}


.footer-icon{
    display: flex;
}
.section-last{
    display: flex;
  
}
.div-1{
    margin-left: 50px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    background: #FFFFFF;
    height: 280px;
    width: 180px;
    border-radius: 20px;
   
}
.div-2{
    margin-left: 50px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    background: #FFFFFF;
    height: 280px;
    width: 180px;
    border-radius: 20px;
}
.div-3{
    margin-left: 50px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    background: #FFFFFF;
    height: 280px;
    width: 180px;
    border-radius: 20px;
}
.div-4{
    margin-left: 50px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    background: #FFFFFF;
    height: 280px;
    width: 180px;
    border-radius: 20px;
}
.div-pic{
    margin-top: 30px;
}
.email{
    border-radius: 5px;
    height: 30px;
    width: 250px;
}  
.section-end{
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 70px;
}
.datttt{
    margin-left: 350px;
    margin-top: 100px;
}
.submit-button{
    background-color: orange;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: large;
    color: rgb(0, 0, 0);
}
.secondary-head{
    padding-left: 850px;
    padding-top:90px;
    font-size: 20px;
}

.nav-bar{
    display: flex;
    list-style: none;
    gap: 25px;
}
.ultra-head{
    display: flex;
  
}
.main-head{
    margin-top: 40px;
   margin-left: 180px;
    font-size: 35px;
}
.navigation{
    margin-top: 25px;
    margin-left: 500px;
    font-size: 20px;
    color:crimson;
}
.footer-style{
    background-color: black;
    margin-top: 100px;
    width: 100%;
  
}
.footer-icon{
   gap: 20px;
}
.section-last{
    color: #FFFFFF;
}
.secondary-head {text-align: right;
margin-right: 150px;}